<div class="wrapper">
    <div class="content-wrapper text-dark bg-white d-flex justify-content-center align-items-center">
        <div class="card shadow" style="width:25rem">
            <center><h1 style="color:blue; font-family: Bradley Hand, cursive">Reporte por Fecha</h1></center>
            <hr />
            <div class="container" style="font-family: Bradley Hand, cursive">
                <form asp-action="DescargarExcel" asp-controller="Home" method="post">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">Fecha Inicio</label>
                                <input type="date" name="FechaFin" class="form-control" />
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label class="control-label">Fecha Fin</label>
                                <input type="date" name="FechaFin" class="form-control" />
                            </div>
                        </div>
                    </div>
                    <center>
                        <div class="form-group justify-content-center">
                            <input type="submit" value="Descargar" class="btn btn-success" />
                        </div>
                    </center>
                </form>
            </div>
        </div>
    </div>
</div>



