@{
    ViewData["Title"] = "Home Page";
}


<div class="wrapper">
    <div class="content-wrapper bg-white">
                <div class="text-center">
                    <h1 class="display-4" style="color:blue; font-weight:bold">Bienvenido </h1>
                </div>                  
    </div>
</div>
