@{
    ViewData["Title"] = "Privacy Policy";
}
<div class="wrapper text-dark">

    <div class="content-wrapper bg-white d-flex justify-content-center align-items-center">
        <div class="card card-primary shadow" style="width:50rem">
           
                <h1>@ViewData["Privacidad"]</h1>
                <center><img src="~/Imagenes/img.jpg" alt="Antony" class=" img-circle w-50"></center>
                <center><h3>Politica De Privacidad De Antony Camilo Linares</h3></center>
         
        </div>
    </div>
</div>